body {
  background-color: hsla(200, 5%, 84%, 0.2);
  font-family: 'Cinzel', serif;
  letter-spacing: 7px;
}

#fireImg, #pineappleImg {
  background-size: cover;
}
.skillsHeader {
  padding: 30px;
  color: hsla(222, 45%, 37%, 1);
}
.skillsContainer {
  opacity: 0;
  height: 100vh;
  width: 100vw;
  background-image: url('./assets/tiny_grid.png')
}
.tabs {
  box-shadow: 0;
}

.tabs .tab a, .tabs .tab a.active, .tabs .tab a:hover {
  color: hsla(68, 94%, 73%, 1);
  text-decoration: none;
  font-size: 1em;
  letter-spacing: 7px;
}
.animated {
  animation-duration: 3s;
}
.logo {
  height: 100vh;
  width: auto;
}
.intro {
  height: 100vh;
  position: relative;
  color: hsla(186, 86%, 83%, 1);
  letter-spacing: 10px;
  font-weight: 900;
}
.border {
  border: 4px double hsla(186, 86%, 83%, .5);
	border-width: 4px 0;
}
.intro-text{
  display: block;
  max-width: 100%;
  position: absolute;
  bottom: 200px;
  left: 45%;
  padding: 30px;
}
a.scroll {
  position: relative;
  left: 37%;
  color: hsla(186, 86%, 83%, .9);
  letter-spacing: 3px;
  font-size: 20px;
}
a.scroll h6{
  position: relative;
  left: -40%;
}
a.scroll p {
  position: relative;
  left: 6%;
  margin: 0 0 5px, 0;
  width: 40px;
	height: 40px;
  border-left: 2px solid hsla(186, 86%, 83%, .7);
	border-bottom: 2px solid hsla(186, 86%, 83%, .7);
  transform: rotate(-45deg);
  animation: arrow 2s infinite;
	opacity: 1;
	box-sizing: border-box;
}

@keyframes arrow {
  0%, 100% { opacity: 0; }
	50% { opacity: 1; }
}
a.scroll p:nth-of-type(1) {
	animation-delay: 0s;
}
a.scroll p:nth-of-type(2) {
	animation-delay: 0.3s;
}

i {
  font-size: 100px;
  color: hsla(204, 28%, 58%, 1);
  margin: 20px;
  padding: 20px;
}
.iconsContainer {
  margin: 40px;
}

/*@keyframes animatedBackground {
  0% {
      transform: translate3d(0px, 0px, 0);
      animation-timing-function: ease-in;
  }
  50% {
      transform: translate3d(50px, 0px, 0);
      animation-timing-function: ease-out;
  }
  100% {
      transform: translate3d(100px, 0px, 0);
      animation-timing-function: ease-out;
  }
}*/

.img1, .img3, .img5, .img6, .img8, .img9, .img10, .img15, .img14 {
  animation: bobble1 2s infinite;
}

.img2, .img4, .img7, .img11, .img12, .img13, .img16 {
  animation: bobble2 2s infinite;
}

@keyframes bobble1 {
    0%, 100% {
        transform: translate3d(50px, 30px, 0);
        animation-timing-function: ease-in;
    }
    50% {
        transform: translate3d(50px, 33px, 0);
        animation-timing-function: ease-out;
    }
}

@keyframes bobble2 {
    0%, 100% {
        transform: translate3d(50px, 33px, 0px);
        animation-timing-function: ease-in;
    }
    50% {
        transform: translate3d(50px, 27px, 0px);
        animation-timing-function: ease-out;
    }
}

.brackets li a::before,
.brackets li a::after {
  color: hsla(68, 94%, 73%, 1);
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}
.brackets li a::before {
  color: hsla(68, 94%, 73%, 1);
	margin-right: 10px;
	content: '[';
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
}
.brackets li a::after {
  color: hsla(68, 94%, 73%, 1);
	margin-left: 10px;
	content: ']';
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
}
.brackets li a:hover::before,
.brackets li a:hover::after,
.brackets li a:focus::before,
.brackets li a:focus::after {
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}

.img1:hover .devicon-git-plain,
.img1 .colored {
    display: none;
}
.img1:hover .colored {
    display: inline;
}
.img2:hover .devicon-sass-original,
.img2 .colored {
    display: none;
}
.img2:hover .colored {
    display: inline;
}
.img3:hover .devicon-react-original,
.img3 .colored {
    display: none;
}
.img3:hover .colored {
    display: inline;
}
.img4:hover .devicon-postgresql-plain-wordmark,
.img4 .colored {
    display: none;
}
.img4:hover .colored {
    display: inline;
}
.img5:hover .devicon-nodejs-plain,
.img5 .colored {
    display: none;
}
.img5:hover .colored {
    display: inline;
}
.img6:hover .devicon-jquery-plain-wordmark,
.img6 .colored {
    display: none;
}
.img6:hover .colored {
    display: inline;
}
.img7:hover .devicon-javascript-plain,
.img7 .colored {
    display: none;
}
.img7:hover .colored {
    display: inline;
}
.img8:hover .devicon-java-plain-wordmark,
.img8 .colored {
    display: none;
}
.img8:hover .colored {
    display: inline;
}
.img9:hover .devicon-heroku-plain-wordmark,
.img9 .colored {
    display: none;
}
.img9:hover .colored {
    display: inline;
}
.img10:hover .devicon-html5-plain-wordmark,
.img10 .colored {
    display: none;
}
.img10:hover .colored {
    display: inline;
}
.img11:hover .devicon-github-plain-wordmark,
.img11 .colored {
    display: none;
}
.img11:hover .colored {
    display: inline;
}
.img12:hover .devicon-angularjs-plain,
.img12 .colored {
    display: none;
}
.img12:hover .colored {
    display: inline;
}
.img13:hover .devicon-babel-plain,
.img13 .colored {
    display: none;
}
.img13:hover .colored {
    display: inline;
}
.img14:hover .devicon-atom-original,
.img14 .colored {
    display: none;
}
.img14:hover .colored {
    display: inline;
}
.img15:hover .devicon-bootstrap-plain,
.img15 .colored {
    display: none;
}
.img15:hover .colored {
    display: inline;
}
.img16:hover .devicon-d3js-plain,
.img16 .colored {
    display: none;
}
.img16:hover .colored {
    display: inline;
}

h4.borderEffect {
	position: relative;
	display: inline-block;
	margin: 15px 25px;
	color: hsla(222, 45%, 37%, 1);
	text-transform: uppercase;
	font-weight: 400;

}

h4.borderEffect::before,
h4.borderEffect::after {
	position: absolute;
  margin: 20px;
	top: 100%;
	left: 0;
	width: 100%;
	height: 3px;
	background: hsla(222, 45%, 37%, 1);
	content: '';
	transition: transform 0.3s;
	transform: scale(0.85);
}

h4.borderEffect::after {
	opacity: 0;
	transition: top 0.3s, opacity 0.3s, transform 0.3s;
}

h4.borderEffect:hover::before,
h4.borderEffect:hover::after,
h4.borderEffect:focus::before,
h4.borderEffect:focus::after {
	transform: scale(1);
}

h4.borderEffect:hover::after,
h4.borderEffect:focus::after {
	top: -100%;
	opacity: 1;
}

.projects {
  background-image: url('./assets/tiny_grid.png');
  min-height: 100vh;
  width: 100%;
}

#projectLeft1,#projectLeft2, #projectRight1, #projectRight2 {
  opacity: 0;
}

.skillsHeader {
  font-weight: bold;
}

img.responsive-img {
  height: 325px;
  margin: 20px;
}
/*# sourceMappingURL=main.css.map */
