body {
  background-color: hsla(200, 5%, 84%, 0.2);
}
.tabs {
  box-shadow: 0;
}
.tabs .tab a {
  color: hsla(68, 94%, 73%, 1);
  text-decoration: none;
  font-size: 1em;
  letter-spacing: 5px;
}
.tab a.active {
  color: hsla(68, 94%, 73%, 1);
}
.logo {
  height: 100vh;
  width: auto;
  background-image: url("./coffee1.jpg");
  background-size: cover;
}
.intro {
  height: 100vh;
  position: relative;
  color: hsla(186, 86%, 83%, 1);
}
.intro-text {
  display: block;
  max-width: 100%;
  position: absolute;
  bottom:200px;
  border: 4px double hsla(186, 86%, 83%, .5);
	border-width: 4px 0;
	padding: 1.5em 0em;
}
a.scroll {
  position: absolute;
  left: 50%;
  display: inline-block;
  transform: translate(0, -50%);
  color: hsla(186, 86%, 83%, .5);
  letter-spacing: 3px;
  font-size: 20px;
}
a.scroll p {
  width: 40px;
	height: 40px;
  border-left: 2px solid hsla(186, 86%, 83%, .5);
	border-bottom: 2px solid hsla(186, 86%, 83%, .5);
  transform: rotate(-45deg);
  animation: arrow 2s infinite;
	opacity: 1;
	box-sizing: border-box;
}

@keyframes arrow {
  0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

i {
  font-size: 100px;
  color: hsla(204, 28%, 58%, 1);
  margin: 20px;
  padding: 20px;
}
.iconsContainer {
  margin: 40px;
  display: flex;
  justify-content: space-around;
  /*animation: animatedBackground 5s linear infinite;*/
}

/*@keyframes animatedBackground {
  0% {
      transform: translate3d(0px, 0px, 0);
      animation-timing-function: ease-in;
  }
  50% {
      transform: translate3d(50px, 0px, 0);
      animation-timing-function: ease-out;
  }
  100% {
      transform: translate3d(100px, 0px, 0);
      animation-timing-function: ease-out;
  }
}*/

.img1, .img3, .img5, .img6, .img8, .img9, .img10, .img15, .img14 {
  animation: bobble1 2s infinite;
}

.img2, .img4, .img7, .img11, .img12, .img13 {
  animation: bobble2 2s infinite;
}

@keyframes bobble1 {
    0%, 100% {
        transform: translate3d(50px, 30px, 0);
        animation-timing-function: ease-in;
    }
    50% {
        transform: translate3d(50px, 33px, 0);
        animation-timing-function: ease-out;
    }
}

@keyframes bobble2 {
    0%, 100% {
        transform: translate3d(50px, 33px, 0px);
        animation-timing-function: ease-in;
    }
    50% {
        transform: translate3d(50px, 27px, 0px);
        animation-timing-function: ease-out;
    }
}

.brackets li a::before,
.brackets li a::after {
  color: hsla(68, 94%, 73%, 1);
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}
.brackets li a::before {
  color: hsla(68, 94%, 73%, 1);
	margin-right: 10px;
	content: '[';
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
}
.brackets li a::after {
  color: hsla(68, 94%, 73%, 1);
	margin-left: 10px;
	content: ']';
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
}
.brackets li a:hover::before,
.brackets li a:hover::after,
.brackets li a:focus::before,
.brackets li a:focus::after {
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}

.img1:hover .devicon-git-plain,
.img1 .colored {
    display: none;
}
.img1:hover .colored {
    display: inline;
}
.img2:hover .devicon-sass-original,
.img2 .colored {
    display: none;
}
.img2:hover .colored {
    display: inline;
}
.img3:hover .devicon-react-original,
.img3 .colored {
    display: none;
}
.img3:hover .colored {
    display: inline;
}
.img4:hover .devicon-postgresql-plain-wordmark,
.img4 .colored {
    display: none;
}
.img4:hover .colored {
    display: inline;
}
.img5:hover .devicon-nodejs-plain,
.img5 .colored {
    display: none;
}
.img5:hover .colored {
    display: inline;
}
.img6:hover .devicon-jquery-plain-wordmark,
.img6 .colored {
    display: none;
}
.img6:hover .colored {
    display: inline;
}
.img7:hover .devicon-javascript-plain,
.img7 .colored {
    display: none;
}
.img7:hover .colored {
    display: inline;
}
.img8:hover .devicon-java-plain-wordmark,
.img8 .colored {
    display: none;
}
.img8:hover .colored {
    display: inline;
}
.img9:hover .devicon-heroku-plain-wordmark,
.img9 .colored {
    display: none;
}
.img9:hover .colored {
    display: inline;
}
.img10:hover .devicon-html5-plain-wordmark,
.img10 .colored {
    display: none;
}
.img10:hover .colored {
    display: inline;
}
.img11:hover .devicon-github-plain-wordmark,
.img11 .colored {
    display: none;
}
.img11:hover .colored {
    display: inline;
}
.img12:hover .devicon-angularjs-plain,
.img12 .colored {
    display: none;
}
.img12:hover .colored {
    display: inline;
}
.img13:hover .devicon-babel-plain,
.img13 .colored {
    display: none;
}
.img13:hover .colored {
    display: inline;
}
.img14:hover .devicon-atom-original,
.img14 .colored {
    display: none;
}
.img14:hover .colored {
    display: inline;
}
.img15:hover .devicon-bootstrap-plain,
.img15 .colored {
    display: none;
}
.img15:hover .colored {
    display: inline;
}

/*# sourceMappingURL=main.css.map */
