@import 'normalize.css';

body {
  background-color: hsla(200, 5%, 84%, 0.2);
  font-family: 'Julius Sans One', sans-serif;
  color: hsla(314, 42%, 11%, 1);
  letter-spacing: 7px;
  display: flex;
  flex-direction: column;
  background-image: url('./assets/tiny_grid.png');
}
main {
  flex: 1 0 auto;
}
.landing {
  height: 100vh;
}
.landing-inner {
  position: relative;
  height: calc(100vh - 60px);
  margin: 25px;
  border: 4px dotted hsla(339, 6%, 46%, 0.3);
}
.sectionHeader {
  margin: 70px 0 0 0;
}

#landingCoverImage {
  background: no-repeat center center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}
.title-section {
  border-radius: 7px;
  position: relative;
  opacity: 0.6;
  top: 20%;
  left: 40%;
  width: 300px;
  height: 300px;
  border: 4px double hsla(230, 10%, 12%, .5);
}
.title-section::before {
  border-radius: 7px;
  content: " ";
  width: 300px;
  height: 300px;
  background-color: hsla(339, 57%, 94%, 0.5);
  opacity: 1;
  transform: rotate(45deg);
  position: absolute;
  top: 0px;
  left: 0px;
  border: 4px double hsla(230, 10%, 12%, .5);
}
.title {
  font-size: 100px;
  position: relative;
  top: 40%;
  transform: translateY(-50%);
  color: hsla(314, 42%, 11%, 1);
  margin: 20px 10px;
}
.title-small {
  position: relative;
  top: 20%;
  transform: translateY(-25%);
}

/* Navigation*/
nav {
  box-shadow: none;
}
#sidenav-overlay {
  background-color: rgba(0, 0, 0, 0);
  z-index: 0;
}

.nav.mainNav {
  list-style: none;
  text-align: center;
  display: flex;
  justify-content: center;
  background-color: transparent;
}
nav ul li.active {
  background-color: transparent;
}
li,
nav ul li a {
  font-size: 18px;
  text-decoration: none;
  color: hsla(230, 10%, 12%, .7);
  transition: color 0.4s ease;
}

nav ul li a:hover {
  color: hsla(308, 52%, 59%, 1);
  background-color: transparent;
  margin-bottom: 3px;
  border-bottom: 4px double hsla(308, 52%, 59%, 1);
  transition: border 0.3s;
}

/* Skills container */
.skillsContainer > .container > .sectionHeader {
  margin-top: 100px;
}

.skillsContainer {
  opacity: 0;
  min-height: 100vh;
  width: 100vw;
}

.animated {
  animation-duration: 3s;
}

i {
  font-size: 5.5em;
  color: hsla(230, 10%, 12%, .7);
  margin: 0.1em;
  padding: 0.4em;
}

@media (max-width: 414px) {
  i {
    font-size: 3.4em;
    padding: 0.4em;
  }
}

.iconsContainer {
  margin: 40px;
}

.img1,
.img3,
.img5,
.img6,
.img8,
.img9,
.img10,
.img15,
.img14 {
  animation: bobble1 2s infinite;
  margin: 0 0 1em 0;
}

.img2,
.img4,
.img7,
.img11,
.img12,
.img13,
.img16 {
  animation: bobble2 2s infinite;
  margin: 0 0 1em 0;
}

@keyframes bobble1 {
  0%,
  100% {
    transform: translate3d(50px, 30px, 0);
    animation-timing-function: ease-in;
  }
  50% {
    transform: translate3d(50px, 33px, 0);
    animation-timing-function: ease-out;
  }
}

@keyframes bobble2 {
  0%,
  100% {
    transform: translate3d(50px, 33px, 0px);
    animation-timing-function: ease-in;
  }
  50% {
    transform: translate3d(50px, 27px, 0px);
    animation-timing-function: ease-out;
  }
}

.img1:hover .devicon-git-plain,
.img1 .colored {
  display: none;
}
.img1:hover .colored {
  display: inline;
}
.img2:hover .devicon-sass-original,
.img2 .colored {
  display: none;
}
.img2:hover .colored {
  display: inline;
}
.img3:hover .devicon-react-original,
.img3 .colored {
  display: none;
}
.img3:hover .colored {
  display: inline;
}
.img4:hover .devicon-postgresql-plain-wordmark,
.img4 .colored {
  display: none;
}
.img4:hover .colored {
  display: inline;
}
.img5:hover .devicon-nodejs-plain,
.img5 .colored {
  display: none;
}
.img5:hover .colored {
  display: inline;
}
.img6:hover .devicon-jquery-plain-wordmark,
.img6 .colored {
  display: none;
}
.img6:hover .colored {
  display: inline;
}
.img7:hover .devicon-javascript-plain,
.img7 .colored {
  display: none;
}
.img7:hover .colored {
  display: inline;
}
.img8:hover .devicon-java-plain-wordmark,
.img8 .colored {
  display: none;
}
.img8:hover .colored {
  display: inline;
}
.img9:hover .devicon-heroku-plain-wordmark,
.img9 .colored {
  display: none;
}
.img9:hover .colored {
  display: inline;
}
.img10:hover .devicon-html5-plain-wordmark,
.img10 .colored {
  display: none;
}
.img10:hover .colored {
  display: inline;
}
.img11:hover .devicon-github-plain-wordmark,
.img11 .colored {
  display: none;
}
.img11:hover .colored {
  display: inline;
}
.img12:hover .devicon-angularjs-plain,
.img12 .colored {
  display: none;
}
.img12:hover .colored {
  display: inline;
}
.img13:hover .devicon-babel-plain,
.img13 .colored {
  display: none;
}
.img13:hover .colored {
  display: inline;
}
.img14:hover .devicon-atom-original,
.img14 .colored {
  display: none;
}
.img14:hover .colored {
  display: inline;
}
.img15:hover .devicon-bootstrap-plain,
.img15 .colored {
  display: none;
}
.img15:hover .colored {
  display: inline;
}
.img16:hover .devicon-d3js-plain,
.img16 .colored {
  display: none;
}
.img16:hover .colored {
  display: inline;
}

h4.borderEffect {
  position: relative;
  display: inline-block;
  margin: 15px 25px;
  color: hsla(230, 10%, 12%, .7);
  text-transform: uppercase;
  font-weight: 400;
}

.projects {
  min-height: 100vh;
  width: 100%;
}
.projects > .container > .sectionHeader {
  margin-bottom: 40px;
}
#projectLeft1,
#projectLeft2,
#projectLeft3,
#projectLeft4,
#projectRight1,
#projectRight2,
#projectRight3,
#projectRight4 {
  opacity: 0;
}

/*Project cards*/
.fa.imgIcon {
  color: hsla(222, 45%, 37%, 0.7);
}
.content-wrap {
  margin: 0 25px 35px 0;
}

@media screen and (max-width: 414px) {
  .content-wrap {
    margin: 0 0 35px 0;
  }
  .nav {
    width: 100vw;
  }
  embed.doc {
    min-width: 100vw;
    min-height: 100vh;
  }
}

.doc {
  min-width: 100%;
  min-height: 100vh;
}
.docContainer {
  min-height: 100vh;
  margin-top: 30px;
  margin-top: 40px;
  opacity: 0;
}
.docContainer div {
  margin: 40px 0 40px 0;
}
.page-footer {
  background-color: hsla(222, 45%, 37%, 0.7);
}

i.fa {
  padding: 5px;
  margin: 5px;
  color: hsla(264, 4%, 94%, 1);
}
.icon:hover {
  color: hsla(68, 94%, 73%, 1);
}
.fa-github:hover {
  color: hsla(68, 94%, 73%, 1);
}
.footerLinks {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}

embed {
  min-height: 100vh;
  height: 1200px;
}
